body{
	background-color: #ecd3f2;	
}

/*navbar*/

nav{
	background-color: #6e367a;
}

.navbar-brand{

	color: white;
}

.color{
	background-color: #f3d7fa;
	color: #6e367a;
	text-align:center;
}

.navbar-toggler{
	background-color: #ecd3f2;	
}


/*menu*/

.menu{
	font-size: 2.5rem; 
	color: #6e367a;
}

/*container*/

.container{
	background-color: white;
	width:90%;
}
